{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="wrapper">
    HOME
    <a href="{{ path('app_user') }}">Liste des users</a>
</div>
{% endblock %}
